In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split

In [92]:
df = pd.read_csv("Train.csv")

In [93]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [94]:
df.shape

(8523, 12)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [96]:
df.Item_Weight.fillna(df.Item_Weight.mean(),inplace=True)

In [97]:
df.Outlet_Size.fillna('others',inplace=True)

In [98]:
df.Item_Visibility = df.Item_Visibility.replace(0,df.Item_Visibility.median())

In [99]:
df.Item_Fat_Content = df.Item_Fat_Content.replace(['LF','reg','low fat'],['Low Fat','Regular','Low Fat'])

In [100]:
df.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)

In [101]:
dummie_df = pd.get_dummies(df)

In [102]:
dummie_df.shape

(8523, 34)

In [103]:
dummie_df.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,...,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Size_others,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,1,0,0,0,...,1,0,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
3,19.20,0.053931,182.0950,1998,732.3800,0,1,0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,8.93,0.053931,53.8614,1987,994.7052,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [17]:
x = df.drop(['Item_Outlet_Sales'],axis=1)

In [18]:
y = df['Item_Outlet_Sales']

In [19]:
train_x,test_x,train_y,test_y= train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
df.Item_Type = df.Item_type()